/**
 * Created by Sherlock on 17.06.2021.
 */

@import "fonts";
 
//.modal-header, .btn-warning{
//  background-color: #ffd200;
//  color: #30318C;
//}

.credit-info{
  padding: 10px 14px;
  &>.d-flex:not(:last-child){
    min-height: 56px;
    border-bottom: 1px solid #efefef;
  }
  &>.d-flex{
    padding: 12px 0;
  }
}

.icon{
  width: 20px;
  height: 20px;
  display: inline-block;

  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;

  background-color: #C4C4C4;

  &.icon-arrow-left{
    mask-image: url("/assets/icons/arrow-left.svg");
    -webkit-mask-image: url("/assets/icons/arrow-left.svg");
  }
  &.icon-plus{
    mask-image: url("/assets/icons/plus.svg");
    -webkit-mask-image: url("/assets/icons/plus.svg");
  }
  &.icon-minus{
    mask-image: url("/assets/icons/minus.svg");
    -webkit-mask-image: url("/assets/icons/minus.svg");
  }
  &.icon-apple{
    mask-image: url("/assets/icons/apple.svg");
    -webkit-mask-image: url("/assets/icons/apple.svg");
  }
  &.icon-google{
    mask-image: url("/assets/icons/google.svg");
    -webkit-mask-image: url("/assets/icons/google.svg");
  }
  &.icon-check{
    mask-image: url("/assets/icons/check.svg");
    -webkit-mask-image: url("/assets/icons/check.svg");
    width: 48px;
    height: 48px;
    background-color: #00AD27;
  }
  &.icon-smile{
    mask-image: url("/assets/icons/smile.svg");
    -webkit-mask-image: url("/assets/icons/smile.svg");
    width: 48px;
    height: 48px;
    background-color: #00AD27;
  }
}

html{
  body{
    font-family: "Roboto-Regular", sans-serif;


    .download{
      .download-item{
        border-radius: 46px;
        border: 1px solid #000000;
        padding: 17px 31px;
        font-size: 22px;
        margin-right: 50px;
        text-decoration: none;
        color: #000000;
        .icon{
          background-color: #000000;
          margin-right: 15px;
          &.icon-google{
            width: 41px;
            height: 44px;
          }
          &.icon-apple{
            width: 37px;
            height: 44px;
          }
        }
      }
    }

    .wrap{
      height: auto!important;
      min-height: calc(100vh - 113px);
      .logo{
        padding: 88px 16px 0;
        margin-bottom: 32px;
      }
      .logo-check{
        padding-top: 64px;
        p{
          font-size: 12px;
          line-height: 15px;
          color: #00AD27;
          margin-top: 16px;
          text-transform: uppercase;
        }
        h5{
          font-size: 12px;
          line-height: 15px;
          color: #4C4C4C;
          width: 295px;
          max-width: 100%;
          text-transform: uppercase;
        }
      }
      .padding{
        padding: 0 16px;
        .form-group{
          margin-bottom: 32px;
          .mr-8{
            margin-right: 8px;
          }
        }
        .d-flex.align-items-center{
          &:not(.choose-item){
            margin-bottom: 64px;
            p{
              font-size: 12px;
              line-height: 15px;
              color: #4C4C4C;
            }
            input{
              margin-right: 12px;
            }
          }

        }

        .margin-bottom{
          margin-bottom: 8px;
        }
        .mb-64{
          margin-bottom: 64px;
        }
        h4{
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 32px;
          text-transform: uppercase;
          color: #303493;
          text-align: center;
        }

        .choose-item{
          border: 1px solid #BEBEBE;
          border-radius: 4px;
          padding: 15px 16px;
          margin-bottom: 16px;
          h5{
            margin-bottom: 0;
            font-size: 12px;
            line-height: 15px;
            color: #303493;
          }
          .d-flex.align-items-center{
            margin-bottom: 0;

            p{
              margin-bottom: 0;
              margin-top: 2px;
            }
          }
          &:last-child{
            margin-bottom: 64px;
          }
        }
      }
      .loader{
        text-align: center;
        span{
          display: block;
          margin: auto;
        }
        p{
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
          color: #303493;
          text-align: center;
          width: 295px;
          max-width: 100%;
          margin-bottom: 33px;
        }
        h5{
          margin-top: 48px;
          text-align: center;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
          color: #CACACA;
          width: 295px;
          max-width: 100%;
        }
      }
    }

  }
}
label{
  font-size: 14px;
  line-height: 16px;
  color: #4C4C4C;
  margin-bottom: 12px;
}
input.form-control, select.form-control{
  border: 1px solid #BEBEBE;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 14px 16px;
  box-shadow: none!important;
  height: 48px;
  &::placeholder{
    color: #CACACA;
  }
  &:focus{
    border-color: #303493;
  }
  &:disabled{
    background: #F6F6F6;
    border: 1px solid #BEBEBE;
    font-size: 16px;
    line-height: 16px;
    color: #4C4C4C;
  }

}
select{
  &:not(:last-child){
    margin-right: 8px;
  }
}

input[type = checkbox]{
  flex-shrink: 0;
}

button{
  outline: 0;
  border: none;
  background-color: #FFD200;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #303493;
  padding: 18px;
  transition: all 0.2s linear;
  &:active{
    background-color: rgba(184, 160, 48, 0.62);
  }
}
