@import "fonts.scss";
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto-Regular", sans-serif !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

input.active {
    color: #000;
}

.inputGroup.active {
    opacity: 1 !important;
    color: #fff !important;
}

.container {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

input,
button {
    border: none;
    outline: none;
    background-color: transparent;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    -webkit-mask-position: center;
    background-color: #C4C4C4;
    &.icon-apple {
        mask-image: url("/assets/icons/apple.svg");
        -webkit-mask-image: url("/assets/icons/apple.svg");
    }
    &.icon-google {
        mask-image: url("/assets/icons/google.svg");
        -webkit-mask-image: url("/assets/icons/google.svg");
    }
    &.icon-plus {
        mask-image: url("/assets/icons/plus.svg");
        -webkit-mask-image: url("/assets/icons/plus.svg");
    }
    &.icon-secure {
        mask-image: url("/assets/icons/secure.svg");
        -webkit-mask-image: url("/assets/icons/secure.svg");
        width: 32px;
        height: 32px;
        background-color: #303493;
    }
}

// .first {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     padding: 24px 10px;
//     overflow: hidden;
//     .logo {
//         display: block;
//         width: 162px;
//         height: 24px;
//         background-image: url("/img/zoodmol.svg");
//         background-size: contain;
//         background-repeat: no-repeat;
//     }
//     p {
//         margin-top: 8px;
//         margin-bottom: 0;
//         font-size: 10px;
//         line-height: 34px;
//         text-align: center;
//         letter-spacing: 3px;
//         text-transform: uppercase;
//         color: #FFFFFF;
//     }
//     h1 {
//         margin-top: 25px;
//         font-size: 32px;
//         line-height: 34px;
//         text-align: center;
//         color: #FFFFFF;
//     }
// }
.second {
    position: relative;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    min-height: 100vh;
    padding: 0 16px;
    overflow: hidden;
    z-index: 100;
    .form {
        //margin-top: 50px;
        //position: relative;
        button {
            position: absolute;
            bottom: 0;
            width: 120%;
            left: -10%;
            right: -10%;
            margin: auto;
        }
    }
    input {
        width: 100%;
        padding: 14px 16px 13px;
        margin-bottom: 32px;
        border: 1px solid #BEBEBE;
        border-radius: 4px;
        color: #4C4C4C;
        z-index: 100;
        font-size: 16px;
        line-height: 19px;
        &::placeholder {
            color: #CACACA;
        }
        &.active {
            color: #000;
        }
    }
    label {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 16px;
        color: #4C4C4C;
    }
    .logo {
        display: block;
        margin: 32px auto 48px;
        width: 155px;
        height: 24px !important;
        background-image: url("/assets/img/zoodmol.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    span {
        b {
            font-weight: normal;
            color: #303493 !important
        }
    }
    p {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 10px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #000;
    }
    h4 {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 24px;
        color: #CACACA;
    }
    .line {
        width: 100%;
        height: 1px;
        background-color: #E6E6E6;
        margin-bottom: 32px;
        margin-top: 32px;
    }
    .info {
        font-size: 12px;
        line-height: 15px;
        color: #4C4C4C;
        margin-bottom: 16px;
        .circle {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 16px;
            margin-bottom: 3px;
            background-color: #303493;
            .icon {
                width: 8px;
                height: 8px;
                background-color: #FFFFFF;
            }
        }
    }
    .agrement{
        margin-bottom: 48px;
        margin-top: 15px;
    }
}

.text-zood{
    color: #303493!important;
}

.title{
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #303493;
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E6E6;

}

.agrement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
        transform: translatey(22px);
    }
    input {
        display: none;
    }
    span {
        display: inline-block;
        margin-left: 28px;
        font-size: 12px;
        line-height: 14px;
        color: #000;
    }
}

.next {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 48px;
    height: 59px;
}

.btn_submit {
    width: 100%;
    padding: 20px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: #303493;
    z-index: 100;
    background: #FFD200;
    box-shadow: 0px 152px 80px rgba(0, 0, 0, 0.0196802), 0px 63.502px 33.4221px rgba(0, 0, 0, 0.0282725), 0px 33.9512px 17.869px rgba(0, 0, 0, 0.035), 0px 19.0328px 10.0172px rgba(0, 0, 0, 0.0417275), 0px 10.1082px 5.32008px rgba(0, 0, 0, 0.0503198), 0px 4.20623px 2.21381px rgba(0, 0, 0, 0.07);
}

.third {
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    min-height: 100vh;
    padding: 0px 10px;
    overflow: hidden;
    .logo {
        display: block;
        margin: 32px auto 48px;
        width: 155px;
        height: 24px !important;
        background-image: url("/assets/img/zoodmol.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .form {
        //margin-top: 50px;
        //position: relative;
        button {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    label {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 16px;
        color: #4C4C4C;
    }
    input {
        width: 100%;
        padding: 16px;
        margin-bottom: 32px;
        border: 1px solid #BEBEBE;
        box-sizing: border-box;
        border-radius: 8px;
        z-index: 100;
        &::placeholder {
            font-size: 13px;
            line-height: 15px;
            color: #CACACA;
        }
        &:disabled {
            background: #F6F6F6;
            border: 1px solid #BEBEBE;
            font-size: 16px;
            line-height: 19px;
            color: #4C4C4C;
        }
        &.active {
            opacity: 1;
        }
    }
}

.four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0 10px;
    overflow: hidden;
    .logo {
        display: block;
        margin: auto;
        margin-top: 50px;
        width: 155px;
        height: 24px !important;
        background-image: url("/assets/img/zoodmol.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    form {
        position: relative;
        margin-top: 52px;
        button {
            position: absolute;
            bottom: 0;
            width: 120%;
            left: -10%;
            right: -10%;
            margin: auto;
        }
        label {
            font-size: 14px;
            line-height: 16px;
        }
        .checkbox {
            display: flex;
            align-items: center;
            padding: 16px;
            margin-bottom: 8px;
            border-radius: 8px;
            border: 1px solid #BEBEBE;
            div {
                margin-left: 12px;
                label {
                    margin-bottom: 0;
                }
            }
            p {
                margin-bottom: 0;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: #303493 span {
                    color: #000;
                }
            }
            span {
                display: block;
                margin-left: auto;
                font-size: 12px;
                line-height: 14px;
                color: #303493
            }
        }
    }
    label {
        display: block;
        margin-bottom: 12px;
        font-size: 12px;
        line-height: 14px;
    }
    input {
        display: none;
    }
}

.five {
    position: relative;
    //display: flex;
    //flex-direction: column;
    min-height: 100vh;
    padding: 0 16px;
    overflow: hidden;
    //justify-content: space-between;

    button {
        position: absolute;
        bottom: 0;
        width: 120%;
        left: -10%;
        right: -10%;
        margin: auto;
    }
    label {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 16px;
        color: #4C4C4C;
    }
    .logo {
        display: block;
        margin: 32px auto 48px;
        width: 155px;
        height: 24px !important;
        background-image: url("/assets/img/zoodmol.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .firstNumber,
    .codes,
    .agrement {
        //padding: 0 16px;
    }
    p {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #303493;
        margin-bottom: 0;
        span {}
    }
    .inputGroup {
        &.active {
            color: #000 !important;
        }
        .inputGroupAppend {
            font-size: 16px;
        }
    }
    .codes {
        margin-top: 32px;
        div {
            display: flex;
        }
        input {
            width: 100%;
            height: 48px;
            padding: 10px;
            margin-bottom: 32px;
            border: 1px solid #BEBEBE;
            box-sizing: border-box;
            border-radius: 4px;
            text-align: center;
            font-size: 25px;
            &:not(:first-child) {
                margin-left: 8px;
            }
        }
    }
}

.spinner-border {
    border-color: rgb(206, 8, 8) !important;
    border-right-color: transparent !important;
}

.spinner {
    //justify-content: center;
    //display: flex;
    //align-items: center;
    //flex-direction: column;
    min-height: 100vh;
    //text-align: center;
    text-transform: uppercase;
    .logo {
        display: block;
        margin: 32px auto 48px;
        width: 155px;
        height: 24px !important;
        background-image: url("/assets/img/zoodmol.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .loader{
        display: flex;align-items: center;
        justify-content: center;
        margin-top: 48px;
    }
    p {
        margin: 48px auto 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #CACACA;
        width: 295px;
        max-width: 100%;
    }
    h5 {
        font-weight: 600;
        width: 295px;
        max-width: 100%;
        margin: 0 auto;
        font-size: 12px;
        line-height: 15px;
        color: #303493;
    }
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
    border-radius: 8px;
    z-index: 100;
    &::placeholder {
        font-size: 13px;
        line-height: 15px;
        color: #BEBEBE;
    }
    &.active {
        opacity: 1;
    }
    .inputGroupAppend {
        display: flex;
        align-items: center;
    }
    .spec {
        padding: 12px 0 12px 16px;
        font-size: 16px;
        line-height: 140%;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: -0.04em;
        &::placeholder {
            color: #C0C0C0;
        }
    }
    .phoneInput {
        border: none;
        outline: 0;
        font-size: 16px;
        line-height: 140%;
        width: 100%;
        border-radius: 16px;
        padding-left: 10px;
        &::placeholder {
            color: #B3B4C6;
        }
    }
    .clearInput {
        position: absolute;
        right: 16px;
        top: 18px;
        bottom: 0;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12 2a10 10 0 100 20 10 10 0 000-20zm2.71 11.29a1 1 0 11-1.42 1.42L12 13.41l-1.29 1.3a1 1 0 11-1.42-1.42l1.3-1.29-1.3-1.29a1 1 0 011.42-1.42l1.29 1.3 1.29-1.3a1 1 0 011.42 1.42L13.41 12l1.3 1.29z'%3E%3C/path%3E%3C/svg%3E");
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

.agrement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
        transform: translatey(22px);
    }
    input {
        display: none;
    }
    p {
        display: inline-block;
        margin-left: 28px;
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        span {
            margin: 0;
            opacity: .5;
        }
    }
}

.last {
    min-height: 100vh;
    padding-top: 32px;
    h2{
        margin-top: 48px;
        margin-left: 16px;
        margin-right: 16px;
    }

    a {
        display: block;
        margin-bottom: 32px;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #303493 !important;
    }
    button {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .checkbox {
        display: flex;
        align-items: center;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid #BEBEBE;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
        div {
            margin-left: 12px;
            label {
                margin-bottom: 0;
                span {
                    font-size: 12px;
                    line-height: 15px;
                    color: #4C4C4C;
                }
            }
        }
        p {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #303493;
            span {
                color: #000;
            }
        }
        span {
            display: block;
            margin-left: auto;
            font-size: 12px;
            line-height: 14px;
            color: #303493
        }
    }
    .table {
        margin-bottom: 48px;
        th {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #CACACA;
        }
    }
}

.ant-select-dropdown.ant-select-dropdown-placement-bottomLeft {
    z-index: 222;
    svg {
        fill: #FFFFFF !important
    }
    div {
        color: #CACACA !important;
    }
}

.firstSelect {
    width: 100% !important;
    svg {
        fill: #000 !important
    }
}

.secondSelect {
    width: 100% !important;
    margin-left: 8px !important;
    svg {
        fill: #000 !important
    }
}

.lastSelect {
    width: 100% !important;
    margin-left: 8px !important;
    svg {
        fill: #000 !important
    }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: transparent !important;
    padding: 16px !important;
    height: auto !important;
    opacity: 0.25;
    border: 2px solid #ACACAA;
    box-sizing: border-box;
    border-radius: 8px;
    &::placeholder {
        font-size: 16px;
        line-height: 19px;
    }
}

.select_wrap {
    display: flex;
    justify-content: space-between;
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-color: #BEBEBE;
        border-radius: 4px;
        padding: 7px 16px 7px !important;
        font-size: 16px;
        line-height: 19px;
        .ant-select-selection-placeholder {
            color: #CACACA;
        }
        color: #4C4C4C;
    }
}

.dropdown {
    * {
        color: #000;
        background-color: transparent !important;
    }
}

.secondSelect,
.firstSelect,
.lastSelect {
    * {
        color: #000 !important;
    }
}

.firstSelect.active {
    .ant-select-selector {
        opacity: 1 !important;
        color: #000 !important;
    }
}

.secondSelect.active {
    .ant-select-selector {
        opacity: 1 !important;
        color: #000 !important;
    }
}

.lastSelect.active {
    .ant-select-selector {
        opacity: 1 !important;
        color: #000 !important
    }
    ;
}

.download {
    .download-item {
        border-radius: 46px;
        border: 1px solid #000000;
        padding: 17px 31px;
        font-size: 22px;
        margin-right: 50px;
        text-decoration: none;
        color: #000000;
        .icon {
            background-color: #000000;
            margin-right: 15px;
            &.icon-google {
                width: 41px;
                height: 44px;
            }
            &.icon-apple {
                width: 37px;
                height: 44px;
            }
        }
    }
}

.credit-card {
    min-height: 100vh;
    position: relative;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    padding: 32px 16px;
    overflow: hidden;
    z-index: 100;
    .icon-secure{
        margin-bottom: 48px;
    }
    p{
        font-weight: normal;
        font-size: 13.6016px;
        line-height: 16px;
        margin-bottom: 4px;
        color: #4C4C4C;
    }
    h4{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #303493;
        margin-bottom: 24px;
    }
    //h4 {
    //    font-weight: 600;
    //    font-size: 12px;
    //    line-height: 15px;
    //    color: #00AD27;
    //    margin-top: 16px;
    //    margin-bottom: 4px;
    //}
    //p {
    //    font-size: 14px;
    //    line-height: 16px;
    //    color: #4C4C4C;
    //    margin-bottom: 48px;
    //}
    .card {
        border: 1px solid #E6E6E6;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.00239667), 0px 50.0488px 40.0391px rgba(0, 0, 0, 0.00348411), 0px 30.1471px 24.1177px rgba(0, 0, 0, 0.00429105), 0px 19.3198px 15.4559px rgba(0, 0, 0, 0.005), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.00570895), 0px 7.88218px 6.30574px rgba(0, 0, 0, 0.00651589), 0px 4.5288px 3.62304px rgba(0, 0, 0, 0.00760333), 0px 1.99324px 1.59459px rgba(0, 0, 0, 0.01);
        border-radius: 16px;
        margin-bottom: 32px;
        .card-body {
            padding: 16px;
            .images {
                img {
                    width: 32px;
                    height: 32px;
                    margin-left: 16px;
                }
                margin-bottom: 16px;
            }
            input {
                background: #FFFFFF;
                border: 1px solid #BEBEBE;
                border-radius: 4px;
                font-size: 16px;
                line-height: 19px;
                padding: 14px 16px 13px;
                height: auto;
                &::placeholder {
                    color: #CACACA;
                }
            }
            .ant-select-selector {
                border: 1px solid #BEBEBE;
                opacity: 1;
                padding: 8px 16px 8px !important;
            }
            .select_wrap {
                margin-top: 16px;
            }
            .select {
                margin-left: 10px;
                margin-right: 10px;
                width: 100%;
            }
        }
    }
    .codes {
        div {
            display: flex;
        }
        input {
            width: 100%;
            height: 48px;
            padding: 10px;
            margin-bottom: 32px;
            border: 1px solid #BEBEBE;
            box-sizing: border-box;
            border-radius: 4px;
            text-align: center;
            font-size: 25px;
            &:not(:first-child) {
                margin-left: 8px;
            }
        }
    }
    .agrement {
        margin-bottom: 16px;
        svg {
            transform: none;
            width: 16px;
            height: 16px;
            flex-shrink: 0;
        }
        span {
            color: #4C4C4C;
            margin-left: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            a {
                color: #303493;
            }
        }
        &.mb {
            margin-bottom: 53px;
        }
    }


        button {
            position: absolute;
            bottom: 0;
            width: 120%;
            left: -10%;
            right: -10%;
            margin: auto;
        }



}

.ant-select-dropdown.ant-select-dropdown-placement-bottomLeft .ant-select-item-option-content {
    color: #000000 !important;
}

.inform_credit {
    position: relative;
    min-height: 100vh;
    padding: 0 16px;
    overflow: hidden;
    z-index: 100;
    .form {
        //margin-top: 50px;
        //position: relative;
        button {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-color: #BEBEBE;
        border-radius: 4px;
        padding: 7px 16px 7px !important;
        font-size: 16px;
        line-height: 19px;
        .ant-select-selection-placeholder {
            color: #CACACA;
        }
        color: #4C4C4C;
    }
    input {
        width: 100%;
        padding: 14px 16px 13px;
        margin-bottom: 32px;
        border: 1px solid #BEBEBE;
        border-radius: 4px;
        color: #4C4C4C;
        z-index: 100;
        font-size: 16px;
        line-height: 19px;
        &::placeholder {
            color: #CACACA;
        }
        &.active {
            color: #000;
        }
    }
    label {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 16px;
        color: #4C4C4C;
    }
    .logo {
        display: block;
        margin: 32px auto 48px;
        width: 155px;
        height: 24px !important;
        background-image: url("/assets/img/zoodmol.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }




    h3 {
        margin-bottom: 12px;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #303493;
    }
    .agree {
        display: flex;
        padding: 15px;
        background: #FFFFFF;
        border: 1px solid #BEBEBE;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 18px;
        svg {
            margin-right: 12px;
        }
        span {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #4C4C4C;
        }
        p {
            margin-bottom: 0px;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #303493;
        }
        &:nth-child(3){
            margin-bottom: 48px;
        }
    }
}

.preson_data {
    position: relative;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    min-height: 100vh;
    padding: 0 16px;
    overflow: hidden;
    z-index: 100;
    .form {
        //margin-top: 50px;
        //position: relative;
        button {
            position: absolute;
            bottom: 0;
            width: 120%;
            left: -10%;
            right: -10%;
            margin: auto;
        }
    }
    input {
        width: 100%;
        padding: 14px 16px 13px;
        margin-bottom: 32px;
        border: 1px solid #BEBEBE;
        border-radius: 4px;
        color: #4C4C4C;
        z-index: 100;
        font-size: 16px;
        line-height: 19px;
        &::placeholder {
            color: #CACACA;
        }
        &.active {
            color: #000;
        }
    }
    label {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 16px;
        color: #4C4C4C;
    }
    .logo {
        display: block;
        margin: 32px auto 48px;
        width: 155px;
        height: 24px !important;
        background-image: url("/assets/img/zoodmol.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

}


.select_wrap {
    .ant-select.card_number {
        .ant-select-selector {
            width: 108px!important;
        }
    }
    .ant-select.select {
        .ant-select-selector {
            width: 98px!important;
        }
    }
}